.wrapper{
    width: 100%;
}
.wrapper .item-wrapper{
    width: 33.33333%;
    float: left;
}
.wrapper .item-wrapper .item{
    width: 95%;
    margin: 10px 2.5%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.wrapper .item-wrapper .item .image{
    padding-top: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.wrapper .item-wrapper .item .description{
    font-size: 14px;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}